@import 'https://fonts.googleapis.com/css?family=Arbutus';

body { background: #9EF9F9 !important; }

header {
	float:right;
}

input {
  border-radius: 4px;
  border: 2px solid black;
  font-size: 16px;
  padding: 8px 10px;
  width: 200px;
}

input:focus, input:active, input:hover,
button:focus, button:active, button:hover {
}

button {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 10px;
  margin: 10px;
  border-radius: 4px;
  border: none;
}

main {
	clear: both;
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

h1 {
	font-size: 75px;
	font-weight: bold;
	padding: 5px;
  padding-top: 45px;
}

.title {
  font-family: 'Arbutus', cursive;
}

table {
		margin-left: auto;
    background-color: white;
    margin-right: auto;
    padding-bottom: 30px;
}

td {
	border: 5px solid black;
	height: 125px;
	width: 125px;
}

#newGameButton {
  display: none;
}

#signOutButton {
  display: none;
}

#changePasswordButton {
  display: none;
}

.failure {
  color: red;
}

.success {
  color: green;
}

.game-board {
  display: none;
}

.total-games-label {
  display: none;
}

.gameStatusMessage {
  display: none;
  font-family: 'Arbutus', cursive;
}

.square {
  font-family: 'Arbutus', cursive;
  font-size: 50px;
  vertical-align: middle;
  color: #9EF9F9;
  background-color: grey;
}

.btn-xl {
    padding: 20px 30px;
    font-size: 20px;
    border-radius: 30px;
}

.startGame {
  font-family: 'Arbutus', cursive;
}

#signInFailMessage {
  display: none;
}

#signUpSuccessMessage {
  display: none;
}

#signUpFailMessage {
  display: none;
}

#signOutFailMessage {
  display: none;
}

#changePassSuccessMessage {
  display: none;
}

#changePassFailMessage {
  display: none;
}

#startGameFailMessage {
  display: none;
}

#updateGameFailMessage {
  display: none;
}

#getGamesFailMessage {
  display: none;
}
