/*html {
  margin: auto;
  width: auto;
  height: 100%;
  background-color: #9EF9F9;
}*/

header {
	float:right;
}

input {
  border: 2px solid black;
  padding: 8px 10px;
  width: 200px;
  font-size: 16px;
  border-radius: 4px;
}

input:focus, input:active, input:hover,
button:focus, button:active, button:hover {
}

button {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 10px;
  margin: 10px;
  border-radius: 4px;
  border: none;
}

main {
	clear: both;
	margin: 0 auto;
	display: block;
	text-align: center;
	width: 100%;
}

h1 {
	padding: 50px;
	font-size: 75px;
	font-weight: bold;
	/*font-family: "Bangers", cursive;*/
}

table {
		margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    background-color: white;
}

td {
	border: 5px solid black;
	height: 125px;
	width: 125px;
}

footer{
  padding-top: 100px;
  color: black;
  /*font-family: 'Devonshire', cursive;*/
  font-size: 25px;
  font-weight: 500;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

#newGameButton {
display: none;
}

#signOutButton {
display: none;
}

#changePasswordButton {
display: none;
}

.failure {
  color: red;
}

.success {
  color: green;
}

.game-board {
  display: none;
}
